.playground-container {
    height: 100vh;
    display: grid;
    display: flex;
    flex-direction: column;
    .icon-container{
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 4px;

    }
    
    .content-container {
        // padding: 20px;
        flex-grow: 1;
        display: grid;
        gap: 20px;
        background-color: #e7ebf3;
        padding: 5px;
        grid-template-columns: 3fr 2fr;
    }
    .logo{
        height: 70px;
        border-radius: 50%;
    }
    .header-container {
        display: flex;
        justify-content: center;
        background-color: #164478;
        padding: 10px;

    }
    .input-container, .output-container {
        align-self: stretch;

    }
    .input-container {
        background-color: #e7ebf3;
        display: flex;
        flex-direction: column;
        .input-header {
            background-color: #e7ebf3;
            padding: 10px 10px;
            display: flex;
            justify-content: space-between;


        }
        textarea{
            flex-grow: 1;
            border: none;
            resize: none;
            padding: 10px;
            font-size: 20px;
        }
        textarea:focus {
            outline: none;
        }
        button{
            border: none;
        }
    }
    .editor-container {
        grid-row: 1 / 3;
    }
}